body{
    background-color: rgb(27, 27, 27);
    color: blanchedalmond;
    justify-content: center;
    text-align: center;
}

.inside{
    justify-content: left;
    text-align: left;
    margin: 3% 20% 5% 20%;
    border: 3px solid rgb(27, 27, 27);
    padding: 1% 0 1% 1%;
    border-radius: 4px;
    background-color: blanchedalmond;
    color: rgb(27, 27, 27);
}

#matriz{
    border: 4px solid gray;
    background-color: blanchedalmond;
    border-radius: 4px;
    margin: 5% 32% 0 32%;
    background-color: rgb(66, 66, 66);
}

div[class*=box] {
    height: 33.33%;
    width: 30%; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 3% 0% 0% 30%;
}

.in_txt{
    justify-content: center;
    position: relative;
    display: flex;
    text-align: center;
    align-items: center;
    margin-left: 25%;
}

.box-3 { 
    background-color: rgb(27, 27, 27);
    height: 5px; 
}

.btn {
    line-height: 30px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    width: 110%;
}

.btn-three {
    color: blanchedalmond;
    transition: all 0.5s;
    position: relative;
  }
  .btn-three::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255,255,255,0.1);
    transition: all 0.3s;
  }
  .btn-three:hover::before {
    opacity: 0 ;
    transform: scale(0.5,0.5);
  }
  .btn-three::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(255,255,255,0.5);
    transform: scale(1.2,1.2);
  }
  .btn-three:hover::after {
    opacity: 1;
    transform: scale(1,1);
  }

  #outside{
    margin-left: 33%;
  }

  a{
    text-decoration: none;
    color: blanchedalmond;
  }